<div class="card bg-dark align-items-center text-white mt-4 mx-auto" style="border-radius: 1rem;width: 18rem;">
   <span>{{ userEmail }}</span>
</div>

<div *ngIf="isLoad === true; else loadingTemplate">
   <div *ngIf="books.length > 0; else noUserMessage">
      <ul class="list-group list-group-flush mt-3">
         <a *ngFor="let book of books" [routerLink]="['/book/' + book.id]" class="list-group-item list-group-item-action px-3 border-0 active ripple"
         aria-current="true">
            <li class="d-flex justify-content-between align-items-center">
               <span>{{ book.title }}</span>
               <span>{{ book.author }}</span>
            </li>
         </a>   
      </ul>
   </div>
</div>

<ng-template #loadingTemplate>
   <div class="bookshelf_wrapper">
      <ul class="books_list">
         <li class="book_item first"></li>
         <li class="book_item second"></li>
         <li class="book_item third"></li>
         <li class="book_item fourth"></li>
         <li class="book_item fifth"></li>
         <li class="book_item sixth"></li>
      </ul>
      <div class="shelf"></div>
   </div>
</ng-template>

<ng-template #noUserMessage>
   <div class="card card-body bg-dark text-center text-white mt-3">
      <h3>No books here</h3>
   </div>
</ng-template>
