<div class="justify-content-between">
   <button type="button" onclick="history.go(-1);" class="btn btn-dark mt-3">
      <i class="fa fa-solid fa-arrow-left"></i>
      Books
   </button>
   <div class="card bg-dark align-items-center align-middle text-white mt-4 mx-auto" style="border-radius: 1rem; width: 18rem;">
      <span>Book Details</span>
   </div>
</div>

<div class="align-center">
   <table class="table table-dark table-hover align-items-center bdr mt-3">
      <tbody>
         <tr>
            <th>Title</th>
            <td>{{ book.title }}</td>
         </tr>
         <tr>
            <th>Author</th>
            <td>{{ book.author }}</td>
         </tr>
         <tr>
            <th>ISBN</th>
            <td>{{ book.isbnCode }}</td>
         </tr>
         <tr>
            <th>Plot</th>
            <td>{{ book.plot }}</td>
         </tr>
         <tr>
            <th>Total Readings</th>
            <td>{{ book.totalReadings }}</td>
         </tr>
         <tr>
            <th>Insert Date</th>
            <td>{{ book.insertDate }}</td>
         </tr>
         <tr>
            <th>Delete Date</th>
            <td>{{ book.deleteDate }}</td>
         </tr>
      </tbody>
   </table>
</div>