<section class="vh-100">
   <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center">
         <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
               <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">

                     <h2 class="fw-bold mt-4 mb-4 text-uppercase">Login</h2>

                     <div class="input-group mb-4">
                        <select [(ngModel)]="selectedUser" [disabled]="users!.length === 0" class="form-select">
                           <option *ngIf="users!.length === 0" default>No users here</option>
                           <option *ngIf="users!.length > 0" [ngValue]="-1" default>Choose user</option>
                           <option *ngFor="let user of users" [ngValue]="user.emailId">
                              {{ user.emailId }}
                           </option>
                        </select>
                     </div>

                     <button [disabled]="users!.length === 0" class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onLogin()">Login</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>