<div class="alert alert-danger collapse mt-2" id="userAlert" role="alert">
   You must choose a <strong>user</strong>
</div>

<section class="vh-100">
   <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center">
         <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
               <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">

                     <h2 class="fw-bold mt-4 mb-4 text-uppercase">Login</h2>

                     <div class="input-group mb-4">
                        <select [(ngModel)]="selectedUser" [disabled]="users!.length === 0" class="form-select">
                           <option *ngIf="users!.length === 0" default>No users here</option>
                           <option *ngIf="users!.length > 0" [value]="-1" default>Choose user</option>
                           <option *ngFor="let user of users" [value]="user.emailId">
                              {{ user.emailId }}
                           </option>
                        </select>
                     </div>

                     <button [disabled]="users!.length === 0" class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onLogin()">Login</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<div class="section">
   <div class="container">
      <div class="row full-height justify-content-center">
         <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
               <h6 class="imb-0 pb-3">
                  <span>Log In </span>
                  <span>Sign Up</span>
               </h6>
               <input class="checkbox" type="checkbox" id="reg- log" name="reg-log" />
               <label for="reg-log"></label>
            </div>
         </div>
      </div>
</div>